# Dependencies
/node_modules
/.pnpm
/.yarn

# Next.js build output
/.next/
/out/
/build

# Environment files
.env*.local
.env

# Python / 가상환경
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / OS 임시 파일
.vscode/
.DS_Store
*.log
*.tsbuildinfo
*.db
*.sqlite
*.sqlite3